.hint {
    position: relative;
	margin: 12px 24px;
}
.trigger {
	padding-left: 20px;
}
.popup {
	background-color: #fcf8e3;
    position: absolute;
	z-index: 10;
	overflow: hidden;
	padding: 1px 10px 0px 10px;
	border:1px solid #fbeed5;
	-webkit-border-radius:14px;
	-moz-border-radius:14px;
	border-radius:14px;
    display: none; /* keeps the popup hidden if no JS available */
}
